{% extends "astro/base.html" %}

{% block extrastyle %}
<style>
.table tbody tr.closer > td {
    background-color: #FF7A6A;
}
.table tbody tr.further > td {
    background-color: #8FFFA2;
}
.table tbody tr > td {
    text-align: right;
}
</style>
{% endblock %}

{% block content %}
<div class="span8">
<table class="table table-bordered table-condensed">
<thead>
    <tr>
    <th><a href="{% url 'distance' body 'mph' %}">Miles per Hour</a></th>
    <th>A.U.</th>
    <th><a href="{% url 'distance' body 'miles' %}">Miles</a></th>
    <th colspan="2">Body</th>
    </tr>
</thead>
<tbody>
{% for distance in distances %}
    <tr class="{% if distance.trend %}closer{% else %}further{% endif %}">
    {% for col in distance.as_columns %}<td>{{ col }}</td>{% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
