{% extends "astro/base.html" %}

{% block extrastyle %}
<style>
.table tbody tr.sun > td {
    background-color: #FFF61E;
}
.table tbody tr.satellite > td {
    background-color: #FF0CF4;
}
.table tbody tr.transit > td {
    background-color: #FF4A37;
}
.table tbody tr.antitransit > td {
    background-color: #000;
    color: #FFF;
}
.table tbody tr.setting > td {
    background-color: #43FF35;
}
.table tbody tr.normal > td {
    background-color: #1169FF;
    color: #FFF;
}
</style>
{% endblock %}

{% block content %}
<div class="span10">
<h4><a href="{% url 'cities' %}?redirect=horizon">{{ observer.name }}</a></h4>
<table class="table table-bordered table-condensed">
<thead>
<tr>
{% for name in header %}<th>{{ name }}</th>{% endfor %}
</tr>
</thead>
<tbody>
{% for event in events %}
    <tr class="{{ event.color }}">
    {% for column in event.as_columns %}<td>{{ column }}</td>{% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
