{% extends "astro/base.html" %}

{% block extrastyle %}
<style>
.table tbody tr.sun > td {
    background-color: #FFF108;
}
.table tbody tr.satellite > td {
    background-color: #FBB2FF;
}
.table tbody tr.ascending > td {
    background-color: #FF4145;
}
.table tbody tr.descending > td {
    background-color: #67FF63;
}
.table tbody tr.below > td {
    background-color: #000;
    color: #FFF;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
{{ observer.name }}:
Server Local time is {{ local }}, {{ date }} UTC
</div>

<div class="row">
<table class="table table-bordered table-condensed">
<thead>
    <tr>
    <th>✺</th>
    <th><a href="?sort=alt">Altitude</a></th>
    <th><a href="?sort=az">Azimuth</a></th>
    <th colspan="2">Body</th>
    </tr>
</thead>
<tbody>
{% for position in positions %}
    <tr class="{{ position.color }}">
    {% for col in position.as_columns %}<td>{{ col }}</td>{% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
