{% extends "base.html" %}

{% block extrastyle %}
<style>
.table thead tr {
    background-color: #0415FF;
    color: #FFF40C;
}
.table tbody tr.closer > td {
    background-color: #FF7A6A;
}
.table tbody tr.further > td {
    background-color: #8FFFA2;
}
</style>
{% endblock %}

{% block content %}
<div class="span8">
<table class="table table-bordered table-condensed">
<thead>
    <tr>
    <th>Separation</th>
    <th colspan="2">Bodies</th>
    <th>Constellation</th>
    </tr>
</thead>
<tbody>
{% for angle in angles %}
    {% with trend=angle.trend %}
    {% if trend %}<a href="{{ angle.url }}">{% endif %}
    <tr class="{% if trend %}closer{% else %}further{% endif %}">
    {% for col in angle.as_columns %}
        {% if forloop.first and trend %}
            <td><a href="/astro/separation/{{ angle.body1.name|urlencode:"" }}/{{ angle.body2.name|urlencode:"" }}/">{{ col }}</a></td>
        {% else %}
            <td>{{ col }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% if trend %}</a>{% endif %}
    </a>
    {% endwith %}
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
