<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Astro{% endif %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
    <script src="/static/jquery/js/jquery-1.9.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
</head>

<body>
    <div class="container">
    {% block nav-global %}
    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/astro/sky/">Sky</a></li>
                <li><a href="#">Angles</a></li>
                <li><a href="#">Distance ☼</a></li>
                <li><a href="#">Distance ♁</a></li>
                <li><a href="/astro/elongation/">Elongation</a></li>
                <li><a href="#">Moon</a></li>
                <li><a href="#">Rise/Set</a></li>
                <li><a href="#">Debug</a></li>
        </div>
    </div>
    {% endblock %}

    {% block content %}{{ content }}{% endblock %}

    </div>

</body>
</html>
