{% extends "base.html" %}

{% block extrastyle %}
<style>
.table tbody tr.closer > td {
    background-color: #FF7A6A;
}
.table tbody tr.further > td {
    background-color: #8FFFA2;
}
</style>
{% endblock %}

{% block content %}
<table class="table table-bordered table-condensed">
<tbody>
{% for distance in distances %}
    <tr class="{% if distance.trend %}closer{% else %}further{% endif %}">
    {% for col in distance.as_columns %}<td>{{ col }}</td>{% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
