{% extends "base.html" %}

{% block extrahead %}
<meta http-equiv='refresh' content='{{ seconds_to_next_event|floatformat:0 }}'>
{% endblock %}

{% block extrastyle %}
<style>
.table tbody tr.sun > td {
    background-color: #FFF61E;
}
.table tbody tr.satellite > td {
    background-color: #FF0CF4;
}
.table tbody tr.transit > td {
    background-color: #FF4A37;
}
.table tbody tr.antitransit > td {
    background-color: #000;
    color: #FFF;
}
.table tbody tr.setting > td {
    background-color: #43FF35;
}
.table tbody tr.normal > td {
    background-color: #1169FF;
    color: #FFF;
}
</style>
{% endblock %}

{% block content %}
<div class="span8">
<table class="table table-bordered table-condensed">
<thead>
<tr>
{% for name in events.header %}<th>{{ name|capfirst }}</th>{% endfor %}
</tr>
</thead>
<tbody>
{% for class,columns in events.rows %}
    <tr class="{{ class }}">
    {% for col in columns.values %}<td>{{ col }}</td>{% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
